@CHARSET "UTF-8";
.data-panel>table{
	width:100%;
	cursor: default;
}
.data-panel>table td,.data-panel>table th{
	
}
.data-panel>table th{
	padding: 5px 0;
	background-color: #252626;
    color: #fbfdff;
}
.data-panel>table td{
    padding: 5px 0;
    text-align: center;
    /* margin: 0; */
}
.data-panel>table tr{
	color: #494b4c;
}
.data-panel>table tr:nth-child(2n){
	background-color: #f5f5f5;
}
.data-panel>table tr:nth-child(2n-1){
	background-color: #fff;
}
.data-panel>table tr:hover{
	background-color: #f0f0f0;
}
.data-panel>table .selected{
	background-color: #e0e0e0;
	background-color: #e0e0e0 !important;
}
.list-empty{
	font-size: 24px;
	text-align: center;
	padding: 20px 0;
	background-color: #fff;
	color:#494b4c;
}
div#pagerbar {
    font-family: "黑体";
    font-weight: bold;
    color: #fbfdff;
    background-color: #252626;
}
div#pagerbar>* {
	border:none;
	width:30px;
	padding: 5px 0;
	outline: none;
	display: inline-block;
    text-align: center;
}
div#pagerbar>*:not(input):not(.disabled):hover{
	cursor: default;
	background-color:#888; 
}
div#pagerbar>.disabled{
	color:#888;
}
div#pagerbar>#jump{
	width:30px;
	padding: 3px;
}
div#pagerbar>goprev:after {
	content: "<";
}
div#pagerbar>gofrist:after {
	content: "|<";
}
div#pagerbar>gonext:after {
	content: ">";
}
div#pagerbar>golast:after {
	content: ">|";
}
.data-panel>table th[sortable]:hover{
	cursor:default;
	background-color:#888;
}
.data-panel>table th[sortorder="ASC"]:after{
	content: "↑";
}
.data-panel>table th[sortorder="DESC"]:after{
	content: "↓";
}
.query-panel{
}