<!DOCTYPE html>
<html lang="en">
<head>
    <#if manage.requiredCssPath??><#list manage.requiredCssPath as path>
	<link rel="stylesheet" href="${ctx}${path}"/>
	</#list></#if>
    <script src="${ctx}/resources/js/common/common-manage.js"></script>
    <script type="text/javascript" src="${ctx}/resources/js/datePicker/WdatePicker.js"></script>
</head>
<body>
<div class="main-panel entity-manage">
<div class="head-title">
    新增/修改
</div>
<#if entity.id??>
    <input type="hidden" name="id" value="${entity.id}"/>
</#if>
<#list manageFields as c>
<div class="row">
    <label class="form-label" style="">${c.displayText}</label>
    <#assign inputId=""/>
    <#if c.inputId??>
        <#assign inputId=c.inputId/>
    </#if>
    <#if c.inputType=="TEXT">
        <input class="form-control" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" type="text" value="${c.value!''}"/>
        <#elseif c.inputType=="NUMBER"/>
        <input class="form-control" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" type="number" value="${c.value!''}"/>
        <#elseif c.inputType=="SELECT"/>
        <select class="form-control" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" >
            <#if c.nullable>
                <option value="" ${(c.value??)?string('selected','')}>-- 请选择 --</option>
            </#if>
            <#list c.parsedData as d>
                <option value="${d.value}" ${(c.value??&&(c.value?string == d.value?string))?string('selected','')}>${d.text}</option>
            </#list>
        </select>
        <#elseif c.inputType=="DATEBOX"/>
        <input class="form-control datebox" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" type="text" value="${c.value!''}"/>
        <#elseif c.inputType=="TEXTAREA"/>
        	<textarea class="form-control" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" >${c.value!''?html}</textarea>
        <#elseif c.inputType=="CHECKBOX"/>
        	<#list c.parsedData as d>
	        	<label class="form-checkbox-label" on>${d.text}
	        		<input type="checkbox" class="form-control" valuefield="${c.selectValueField}" 
	        		${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" 
	        		name="${c.field}" id="${inputId}" value="${d.value}" <#if c.value??><#list c.value as v>
	        		 <#if v[c.selectValueField] == d.value>checked</#if>
	        		</#list></#if>/><label class="form-checkbox-appearance"></label>
	        	</label>
        	</#list>
        <#else />
        <input class="form-control" valuefield="${c.selectValueField}" ${(c.isEntity)?string('isentity="isentity"','')} nullable="${ c.nullable?string}" name="${c.field}" id="${inputId}" type="${c.inputType}" value="${c.value!''}"/>
    </#if>
</div>
</#list>
<div class="foot-block"></div>
</div>
<#if manage.requiredJsPath??><#list manage.requiredJsPath as path>
    <script type="text/javascript" src="${ctx}${path}"></script>
</#list></#if>
</body>
</html>