<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class=" panel panel-self  panel-default">
		<div class="panel-heading">
			<ol class=" breadcrumb" style="padding: 2px 15px; margin-bottom: 0px">
				<li><a href="/front/index">Home</a></li>
				<li class="active">班级动态</li>
			</ol>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a class="list-group-item"><span class="badge">2017-03-28 00：00：00</span>Cras justo odio</a>
				<a class="list-group-item"><span class="badge">2017-03-28 00：00：00</span>Dapibus ac faciasis in</a>
				<a class="list-group-item"><span class="badge">2017-03-28 00：00：00</span>Morbi leo risus</a>
				<a class="list-group-item"><span class="badge">2017-03-28 00：00：00</span>Porta ac consectetur ac</a>
				<a class="list-group-item"><span class="badge">2017-03-28 00：00：00</span>Vestibulum at eros</a>
			</div>
			<div class="">
			</div>
		</div>
	</div>
</body>
</html>