<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>班级动态</title>
</head>
<body>
	<div class=" panel panel-self  panel-default">
		<div class="panel-heading">
			<ol class=" breadcrumb" style="padding: 2px 15px; margin-bottom: 0px">
				<li><a href="/front/index">Home</a></li>
				<li class="active">班级动态</li>
			</ol>
		</div>
		<div class="panel-body">
			<div class="list-group">
			<#list page.list as list>
				<a href="/front/acc/detail?id=${list.classDynamicId}"class="list-group-item"><span class="badge">${list.updateDateTime}</span>${list.title}</a>
			</#list>
			</div>
			<div class="">
				<#include "../common/paginationClassDy.html"/>
				<@pagination page!""/>
			</div>
		</div>
	</div>
</body>
</html>