<?xml version="1.0" encoding="UTF-8"?>  
  
<Configuration status="OFF" monitorInterval="1800">  
  
    <Appenders>  
        <Console name="console" target="SYSTEM_OUT">  
        	<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %-5p (%class:%L) - %m%n" />
        </Console>  

  
    </Appenders>  
  
    <Loggers>  
        <!-- 3rdparty Loggers -->  
        <!--<logger name="org.springframework.core" level="info">  -->
        <!--</logger>  -->
        <!--<logger name="org.springframework.beans" level="info">  -->
        <!--</logger>  -->
        <!--<logger name="org.springframework.context" level="info">  -->
        <!--</logger>  -->
        <!--<logger name="org.springframework.web" level="info">  -->
        <!--</logger>  -->
  
     <!--    <logger name="com.meituan.gct.shop.promo" level="error" includeLocation="true" additivity="false">  
            <appender-ref ref="ErrorLog"/>  
            <appender-ref ref="Console"/>  
        </logger>   -->
  
        <root level="TRACE" includeLocation="true">
            <appender-ref ref="console" />  
            <!--<appender-ref ref="frame_log_error" />  -->
            <!--<appender-ref ref="frame_log_common" />  -->
        </root>  
    </Loggers>  
</Configuration> 