<link rel="stylesheet" href="${ctx}/resources/css/common/page-menu.css"/>
<script src="${ctx}/resources/js/common/page-menu.js"></script>


<div class="menu-wrapper" id="menu">
	<#macro menu menuList>
		<ul>
			<#list menuList as menuItem>
				<#if !menuItem.hidden>
				<li>
                    <#assign isopen=false/>
                    <#list navigation as menuEntity>
                        <#if menuEntity.id == menuItem.id>
                            <#assign isopen=true/>
                        </#if>
                    </#list>
					<div class="menuItem ${isopen?string("open","")} ${(menuItem.id==currentLocation.id)?string('current','')}" url="${menuItem.requestURI!''}">${menuItem.displayName}</div>
					<#if menuItem.children??>
						<@menu menuItem.children/>
					</#if>
				</li>
				</#if>
			</#list>
		</ul>
	</#macro>
	<@menu menuList></@menu>
	<!-- <menutree id="menutreetemplate" current="menuTree" currentnode="currentMenuNode">
		<ul>
			<div ng-if="!!current.name" ng-class="{true: 'current', false: ''}[currentnode.id==current.id]" ng-click="click(current)">{{current.name}}</div>
			<li ng-show="!!current.opened" ng-repeat="node in current.children"><menutree current="node"  currentnode="currentnode"/></li>
		</ul>
	</menutree> -->
</div>
